.exit-settings {
display:inline-block;
float:right;
text-align:center;
width:2em;
}

.exit-settings:hover {
background:red;
}

.filter {
background:rgba(0,0,0,0.6);
height:100vh;
left:0;
position:fixed;
top:0;
width:100%;
z-index:-100;
}

.loader {
background:#000;
color:#FFF;
height:100vh;
left:0;
position:fixed;
text-align:center;
top:0;
width:100%;
z-index:1000000;
}

.loader-text {
font-size:5vh;
margin-top:45vh;
}

.page_control {
background:#44444f;
bottom:0;
position:fixed;
text-align:center;
width:100vw;
}

.post {
background:#DCDCDC;
border-color:rgba(255,255,255,0);
border-radius:.2em;
border-style:solid;
margin:0 auto 1em;
max-width:1200px;
padding:.2em;
transition:border .2s;
}

.post-info {
background:gray;
padding:1em;
}

.post-title {
display:block;
font-size:2em;
padding:1em;
text-decoration:none;
}

.post:hover {
border-color:rgba(255,255,255,1);
}

.post_number {
float:right;
}

.result {
display:hidden;
padding-bottom:5em;
padding-top:5em;
}

.settings {
background:grey;
color:#FFF;
display:none;
height:100vh;
margin:0 auto;
overflow-y:scroll;
padding:.25em;
position:fixed;
right:0;
top:0;
z-index:1;
}

.settings button {
background:#5BCDF0;
border:none;
color:#FFF;
font-size:1.1em;
padding:.2em;
width:100%;
}

.settings input {
background:none;
border:.1em solid #FFF;
color:#5BCDF0;
width:100%;
}

.settings input[type=range] {
margin:0 auto;
width:100%;
}

.settings-toggle {
-webkit-transition:transform .5s;
background:url(http://icons.iconarchive.com/icons/dtafalonso/android-lollipop/512/Settings-icon.png);
background-size:cover;
height:5vh;
position:absolute;
right:1vh;
top:0;
width:5vh;
z-index:1;
}

.settings-toggle:hover {
transform:rotate(60deg);
}

.theme_control,.control {
background:#44444F;
border-top:.3em solid #6b6b7c;
margin-bottom:.5em;
padding:.5em;
}

.unsaved {
background:#000;
color:#FFF;
display:none;
text-align:center;
}

body {
background-size:cover;
font-family:Oswald, sans-serif;
margin:0 auto;
padding:0;
}

button {
font-size:1.5em;
}

h1 {
background:#44444f;
margin:0 auto 1em;
position:fixed;
top:0;
width:100%;
}